@model IEnumerable<EasyPark.WebUI.Areas.Manager.ViewModels.Ticket.ActiveTicketViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Active Tickets</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="fa fa-list-ul"></span>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div class="box-body">
        <section id="no-more-tables">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Plate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerPhone)
                        </th>
                        <th class="negligible">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastActivityDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td data-title="@Html.DisplayNameFor(model => model.TicketNumber)">
                                @Html.DisplayFor(modelItem => item.TicketNumber)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Plate)">
                                @Html.DisplayFor(modelItem => item.Plate)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.CustomerName)">
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.CustomerPhone)">
                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                            </td>
                            <td class="negligible" data-title="@Html.DisplayNameFor(model => model.Description)">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Status)">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.LastActivityDate)">
                                @Html.DisplayFor(modelItem => item.LastActivityDate)
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                }
            </table>
        </section>
    </div><!-- /.box-body -->
</div><!-- /.box -->


